language: python

python:
    - 2.7
    - pypy

env:
    - TWISTED=svn+svn://svn.twistedmatrix.com/svn/Twisted/trunk
    - TWISTED=Twisted==13.2.0
    - TWISTED=Twisted==13.1.0
    - TWISTED=Twisted==13.0.0
    - TWISTED=Twisted==12.3.0
    - TWISTED=Twisted==12.2.0
    - TWISTED=Twisted==12.1.0

install:
    - pip install pyflakes --use-mirrors
    - pip install $TWISTED --use-mirrors
    - python setup.py install

script:
    - pyflakes vor
    - trial vor
